package icon

import (
	templpkg "github.com/a-h/templ"
	"github.com/fastygo/blank/internal/kit/ui/inline"
)

type IconProps struct {
	Name  string
	Size  string
	Class string
	ID    string
	Attrs templpkg.Attributes
}

templ Icon(p IconProps) {
	@inline.Inline(inline.InlineProps{
		Class: iconClasses(p),
		Attrs: iconAttrs(p),
	}) {
	}
}
