package appshell

import (
	templpkg "github.com/a-h/templ"
	"github.com/fastygo/blank/internal/ui/layout"
)

// AppShell is the reusable topnav app shell block. Composes layout.Shell around page body.
templ AppShell(props Props, body templpkg.Component) {
	@layout.Shell(props.Shell) {
		@body
	}
}
